In [3]:
#Numbers: Numbers are integers and Floating point e.g (1, and 2.4)
#Strings: Order or sequenced data e.g "Hello",2,20.5,"sam"
#list: List orders or sequenced objects e.g ["Hello", 10, "monkey"]
#Tuples: Tuples are lists but they cannot be mutated or changed and instead of square use= ()
#Dictionaries: Dictonaries are key:value pairs and can be mutated and rearranged

In [5]:
a = 10
b = 2
c = 0.5
d = 0.25
e = 5

In [13]:
solution = ((a/b*b**e)+(a**b/b)+c-d)-(a**b)-a

In [14]:
solution

100.25

In [15]:
print(4*(6+5))

44

In [16]:
print(4*6+5)

29

In [17]:
print(4+6*5)

34

In [18]:
nice = (3+1.5+4)

In [20]:
type(nice)

float

In [23]:
print(25**(1/2))

5.0

In [24]:
5**2

25

In [25]:
s = 'hello'

In [28]:
(s)[1]

'e'

In [30]:
(s)[::-1]

'olleh'

In [32]:
(s)[4]

'o'

In [33]:
(s)[4:]

'o'

In [34]:
list3 = [1,2,[3,4,'hello']]

In [36]:
list3[2][2] = 'goodbye'

In [37]:
list3

[1, 2, [3, 4, 'goodbye']]

In [38]:
list4 = [5,3,4,6,1]

In [39]:
list4.sort()

In [40]:
list4

[1, 3, 4, 5, 6]

In [41]:
d = {'simple_key':'hello'}

In [44]:
d['simple_key']

'hello'

In [45]:
d = {'k1':{'k2':'hello'}}

In [46]:
d['k1']['k2']

'hello'

In [47]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [49]:
d['k1']['nest_key']

TypeError: list indices must be integers or slices, not str

In [50]:
#Tupples are not mutable and use curily bracket instead of squares
#t = (1,2,2.5,3)

In [52]:
#Sets : Sets are unorderd collection of objects and they dont allow duplicate items

In [53]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [55]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}