In [1]:
#Functions practice exercise

In [10]:
def lesser_of_two_events(a,b):
    
    if a%2 == 0 and b%2 == 0:
        result = min(a,b)
    else:
        result = max(a,b)
            
    return result

In [13]:
lesser_of_two_events(2,4)

2

In [14]:
lesser_of_two_events(2,5)

5

In [23]:
def animal_crackers(text):
    wordlist = text.split()
    print(wordlist)
    
    first = wordlist[0]
    second = wordlist[1]
    
    return first[0] == second[0]

In [24]:
animal_crackers('Levelheaded Llama')

['Levelheaded', 'Llama']

True

In [25]:
animal_crackers('Crazy Kangaroo')

['Crazy', 'Kangaroo']

False

In [30]:
def makes_twenty(n1,n2):
    if n1+n2 == 20:
        return True
    elif n1 == 20:
        return True
    elif n2 == 20:
        return True
    else:
        return False

In [31]:
makes_twenty(20,10)

True

In [32]:
makes_twenty(12,8)

True

In [33]:
makes_twenty(2,3)

False

In [37]:
def old_macdonald(name):
    
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [38]:
old_macdonald('macdonald')

'MacDonald'

In [54]:
def master_yoda(text):
    
    wordlist = text.split()
    reverse_word_list = wordlist[::-1]
    return ' '.join (reverse_word_list)

In [55]:
master_yoda('I am home')

'home am I'

In [56]:
mylist = ['a','b','c']

In [57]:
''.join(mylist)

'abc'

In [63]:
def almost_there(n):
    
    return (abs(100-n)<= 10)or(abs(200-n) <=10)

In [64]:
almost_there(90)

True

In [65]:
almost_there(104)

True

In [66]:
almost_there(150)

False

In [71]:
def has_33(nums):
    
    for x in range(0,len(nums)-1):
        if nums[x] == 3 and nums [x+1] == 3:
            return True
        
    return False

In [72]:
has_33([1, 3, 3])

True

In [73]:
has_33([1, 3, 1, 3])

False

In [74]:
has_33([3, 1, 3])

False

In [75]:
def paper_doll(text):
    result = ''
    
    for char in text:
        result += char*3
    return result

In [76]:
paper_doll('Hello')

'HHHeeellllllooo'

In [85]:
def blackjack(a,b,c):
    
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) <= 31:
        return sum([a,b,c])-10
    else:
        return "Bust"

In [86]:
blackjack(5,6,7)

18

In [87]:
blackjack(9,9,9)

'Bust'

In [88]:
blackjack(9,9,11)

19

In [90]:
def summer_69(arr):
    
    total = 0
    add= True
    
    for num in arr:
        while add:
            if num !=9:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [91]:
summer_69([1, 3, 5])

9

In [92]:
summer_69([4, 5, 6, 7, 8, 9])

30

In [93]:
summer_69([2, 1, 6, 9, 11])

20

In [94]:
def spy_game(nums):
    
    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)
    
    return len(code) == 1

In [95]:
spy_game([1,2,4,0,0,7,5])

True

In [96]:

# Check
spy_game([1,7,2,0,4,5,0])

False

In [97]:
spy_game([1,0,2,4,0,5,7])

True